{% extends 'base.html.twig' %}

{% block title %}Hello BruleController!{% endblock %}

{% block body %}
<meta charset="UTF-8" />

<!-- Insérer cette balise "link" après celle de Bootstrap -->
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

<!-- Insérer cette balise "script" après celle de Bootstrap -->
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>


<div class="fluide">
   <div class="container" align="center">
   <br>
   <h3>Tableau des Brûlages</h3>

   	{% if tabEquipes is defined and tabEquipes|length > 0 %}
      <table class="table table-striped" data-toggle="table" data-pagination="false">
        <thead>
          <tr>
          	<th>Joueurs</th>
          	{% for equipe in tabEquipes %}
            <th>{{ equipe.nom }}</th>
          {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% if tabBrule is defined %}
        {% for brule in tabBrule %}
          <tr>
          	<td>{{ brule.joueur.nom }}</td>
          	{% for equipe in tabEquipes %}
          	{% for brl in brule %}
          	{% if brl.equipe is defined %}
           		{% if brl.equipe[0].id == equipe.id %}
           		{% if brl.nbMatchs is defined %}
           		<td>{{ brl.nbMatchs}}</td>
           		{% else %}
           			<td></td>
           		{% endif %}
           		
          	{% else %}
          			<td>0</td>
          	{% endif %}
           	{% endif %}
           	{% endfor %}
           	{% endfor %}
          </tr>
        {% endfor %}
        {% endif %} 
        </tbody>
      </table>
      {% endif %}
    </div>
</div>

{% endblock %}
