{% extends 'parametrage/base_parametrage.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
    <p>Bienvenue dans la partie reservé à l'Administrateur</p>
    <p><a href="{{ path('app_utilisateurs')}}">Liste des users</a></p>
    <p><a href="{{ path('app_register')}}">Créer users</a></p>
{% endblock %}
