{% extends 'base.html.twig' %} {% block title %} Partenaires{% endblock
%} {% block body %}
<meta charset="UTF-8" />
<style>
</style>


<div class="container">



	{% if partenaires is defined %} {% for partenaire in partenaires %} {%
	set nomFichier = partenaire.nomPhoto %}
	<div class="row mt-4">
		<div class="col-sm-4 d-flex justify-content-center align-items-center" >
			<h2>{{ partenaire.titre }}</h2>
		</div>
		<div class="col-sm-8 d-flex justify-content-center align-items-center" >
			<div class="col-sm-9">
				<img alt="" src="{{ asset('images/'~nomFichier) }}" alt=""
					class="img-fluid"  width="25%">
			</div>
		</div>
	</div>
	<div class="row mt-1">
		<div class="col">
			<hr color="black" >
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">{{ partenaire.texte|raw }}</div>
	</div>
	<div class="divider py-1 bg-dark"><hr></div>
	{% endfor %} {% endif %} 
</div>
	
	{% endblock %}