{% extends 'base.html.twig' %} {% block title %}Contact{%
endblock %} {% block body %}
<style>
#map
{ 
    height:400px;
    width: 80%;
    border:1px dotted black;
    margin: auto;
}

#buttons
{
    text-align: center;
    padding-top: 20px;
}

#city
{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px
}

#dragAndDrop
{
    background: lightblue;
    border: 1px solid #444;
    height : 100px;
    padding : 40px;
    padding-top : 45px;
    text-align: center;
}
</style>

<link   rel="stylesheet" 
        href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin="">
</script>
<script 
    type="text/javascript" 
    src="http://code.jquery.com/jquery-3.4.1.min.js">
</script>
<!-- Insérer cette balise "link" après celle de Bootstrap -->
<link rel="stylesheet"
	href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

<!-- Insérer cette balise "script" après celle de Bootstrap -->
<script
	src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>


<script>
let cities;
let myMap;
let opacity = 1;

let goldIcon = new L.Icon({
	iconUrl: '../img/marker-icon-2x-gold.png',
	shadowUrl: '../img/marker-shadow.png',
	iconSize: [25, 41],
	iconAnchor: [12, 41],
	popupAnchor: [1, -34],
	shadowSize: [41, 41]
});

function initMap()
{
    // Creation de l'objet "myMap" et insertion dans l'element HTML qui a l'ID "map"
    myMap = L.map('map').setView([46.454, -1.17], 14);
    // Recuperation des cartes sur openstreetmap.fr
    L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', 
    {
        minZoom: 1,
        maxZoom: 20,
    }).addTo(myMap);
    let marker = L.marker([46.45444605848329, -1.1731613962636644],{icon:goldIcon}).addTo(myMap);
        marker.bindPopup('Salle Emile BEAUSSIRE, Rue Adjudant Barrois');
    let marker1 = L.marker([46.454698125296034, -1.1608106810599472],{icon:goldIcon}).addTo(myMap);
        marker1.bindPopup('Salle Tennis de Table Luçonnais, 3 Rue Jean Jaures');
}

$(document).ready(function()
{
        initMap();
});
</script>
        <div class="container">
        <br>
        <div class="p-3 mb-2 bg-info text-white">
        <div class="row">
            <div class="col-sm-2" >
                
            </div>
            <div class="col-sm-2" >
                    Nous contacter
            </div>
            <div class="col-sm-3" >
                Adresse Mail : {{ info.contenu }}
            </div>
            <div class="col-sm-3" >
                Téléphone : 02.51.29.01.80
            </div>
        </div>
        </div>
        <br>
        </div>
        <div id="map"></div>
        <br>
       <div class="container">
        <table class="table table-striped" data-toggle="table" data-pagination="false">
        <thead>
          <tr>
            <th>Equipe</th>
            <th>Division</th>
            <th>Salle</th>
          </tr>
        </thead>
        <tbody>
        {% if equipes is defined %}
        {% for equipe in equipes %}
        <tr>
           	<td>{{ equipe.nom }}</td>
           	<td>{{ equipe.division }}</td>
            {% if equipe.salle == 1 %}
                <td>salle Tennis de Table Luçonnais, 3 rue Jean Jaures</td>  
            {% else %}        
                <td>salle Emile BEAUSSIRE, Rue Adjudant Barrois</td>
            {% endif %}
          </tr>
        {% endfor %}
       {% endif %} 
        </tbody>
      </table>
    </div>
{% endblock %}